<div class="main-content">
  <div class="container-fluid">
    <div class="row">
      <div class="card3 col-md-4">
        <div class="d-flex align-items-center">
          <button type="button" mat-raised-button (click)="findConsignmentByName()" class="btn btn-primary btn-sm me-2">
            <i class="material-icons">flight_land</i>
            PARTIYA BELGILASH
          </button>
          <button type="button" mat-raised-button (click)="recordFinance()" class="btn btn-success btn-sm">
            <i class="material-icons">add</i>
            XISOB QO'SHISH
          </button>
        </div>
      </div>

      <div class="col-md-4 text-center" *ngIf="showLastFinance">
        <h5 class="mb-0">
          <i class="material-icons align-middle">keyboard_arrow_right</i>
          <span class="align-middle">Oxirgi kiritilgan: {{ enteredLast }}</span>
        </h5>
      </div>

      <div class="col-md-4 text-center" *ngIf="showLastFinance">
        <h5 class="mb-0">
          <i class="material-icons align-middle">keyboard_double_arrow_right</i>
          <span class="align-middle">Oxirgidan oldingi: {{ enteredBeforeLast }}</span>
        </h5>
      </div>
    </div>

    <div class="row">
      <div class="col-md-12">
        <div class="card" id="listcard">
          <div class="card-header row card-header-success card-header-icon" style="display: inline-flex">
            <div class="col align-self-start">
              <div class="card-icon">
                <i class="material-icons">assignment</i>
              </div>
              <h4 class="card-title">
                XISOB KITOB V2 JADVALI. Hozirda Ochiq Reys:
                <b style="font-size: x-large"> {{ currentParty }} </b>
              </h4>
            </div>
          </div>
          <div class="card-body">
            <div class="material-datatables">
              <div class="row">
                <div class="col-sm-3 col-lg-3" style="display: inline-flex">
                  <mat-form-field class="example-full-width">
                    <input matInput type="text" style="font-size: large" placeholder="Mijoz IDsi"
                      (input)="getListOfFinanceWithFilter($event.target.value)" />
                  </mat-form-field>
                </div>
                <div class="col-sm-4 col-lg-3">
                  <mat-form-field>
                    <mat-select placeholder="Yetkazilish bo'yicha!">
                      <mat-option value="Hammasi" (click)="getListwithFiltr('')">Hammasi</mat-option>
                      <mat-option value="Yetkazilgan" (click)="getListwithFiltr('true')">Yetkazilgan</mat-option>
                      <mat-option value="Yetkazilmagan" (click)="getListwithFiltr('false')">Yetkazilmagan</mat-option>
                    </mat-select>
                  </mat-form-field>
                </div>
                <div class="col-sm-4 col-lg-3">
                  <button mat-raised-button (click)="fetchFinancesOfCons()" class="btn btn-success btn-round btn-block"
                    title="Bu partiya uchun Excel faylni yuklab olish">
                    <i class="material-icons" style="vertical-align: middle; margin-right: 5px;">file_download</i>
                    Excel Yuklab Olish
                  </button>
                </div>
              </div>

              <div class="table-responsive">
                <table class="table table-striped table-no-bordered table-hover" cellspacing="0" width="100%"
                  style="width: 100%">
                  <thead>
                    <tr>
                      <th class="text-center">{{ headerRow[0] }}</th>
                      <th class="text-center">{{ headerRow[1] }}</th>
                      <th class="text-center">{{ headerRow[2] }}</th>
                      <th class="text-center">{{ headerRow[3] }}</th>
                      <th class="text-center">{{ headerRow[4] }}</th>
                      <th class="text-center">{{ headerRow[5] }}</th>
                      <th class="text-center">{{ headerRow[6] }}</th>
                      <th class="text-center">{{ headerRow[7] }}</th>
                      <!-- <th class="text-center">{{ headerRow[8] }}</th> -->
                      <th class="text-center">{{ headerRow[9] }}</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let row of allData; let i = index" class="text-center"
                      [ngClass]="{ 'table-success': checkDebt(row.debt_uzs) === 'less' }">
                      <td>{{ (currentPage * pageSize) + i + 1 }}</td>
                      <td>{{ row.customer_id }} ID</td>
                      <td>{{ row.weight }} kg</td>
                      <td>{{ row.amount_usd | currency }}</td>
                      <td>{{ row.amount_uzs | currency : " " : "symbol" : "4.0-0" }}</td>
                      <td>{{ row.debt_usd | number:'1.2-2' }}$</td>
                      <td>{{ row.debt_uzs | currency : " " : "symbol" : "4.0-0" }}</td>
                      <td class="text-center" style="max-width:140px;">
                        <ng-container *ngIf="row.comment; else noCommentFin">
                          <span *ngIf="!row._exp && row.comment.length > 30" style="font-size:13px; color:#333; cursor:pointer;" (click)="row._exp = true">
                            {{ row.comment | slice:0:30 }}... <i class="material-icons" style="font-size:14px; vertical-align:middle; color:#999;">expand_more</i>
                          </span>
                          <span *ngIf="row._exp || row.comment.length <= 30" style="font-size:13px; color:#333; cursor:pointer;" (click)="row._exp = false">
                            {{ row.comment }}
                            <i *ngIf="row.comment.length > 30" class="material-icons" style="font-size:14px; vertical-align:middle; color:#999;">expand_less</i>
                          </span>
                          <button class="btn btn-link btn-just-icon btn-warning" style="padding:2px;" (click)="updateComment(row)" title="Izohni tahrirlash">
                            <i class="material-icons" style="font-size:14px;">edit</i>
                          </button>
                        </ng-container>
                        <ng-template #noCommentFin>
                          <button class="btn btn-link btn-just-icon btn-info" style="padding:2px;" (click)="updateComment(row)" title="Izoh qo'shish">
                            <i class="material-icons" style="font-size:18px;">add_comment</i>
                          </button>
                        </ng-template>
                      </td>
                      <!-- <td>
                        <span *ngIf="row.delivered" style="font-weight: bold; color: green">
                          <i class="material-icons">verified</i>
                        </span>
                        <a *ngIf="!row.delivered" class="btn btn-link btn-warning btn-just-icon">
                          <i (click)="deliveredFunc(row.id, row.customer_id)" class="material-icons">local_shipping</i>
                        </a>
                      </td> -->
                      <td>
                        <a class="btn btn-link btn-success btn-just-icon">
                          <i (click)="editFinance(row.id, row.weight)" class="material-icons">edit</i>
                        </a>
                      </td>
                    </tr>
                  </tbody>
                  <tfoot>
                    <tr>
                      <th class="text-center"></th>
                      <th class="text-center">JAMI</th>
                      <th class="text-center">{{ totalWeight }}kg</th>
                      <th class="text-center">{{ totalUSD | currency }}</th>
                      <th class="text-center">{{ totalUZS | currency : " " : "symbol" : "4.0-0" }}</th>
                      <th class="text-center">{{ totalDebtUSD | currency }}</th>
                      <th class="text-center">{{ totalDebtUZS | currency : " " : "symbol" : "4.0-0" }}</th>
                      <th class="text-center"></th>
                      <th class="text-center"></th>
                      <th class="text-center"></th>
                    </tr>
                  </tfoot>
                </table>
              </div>

              <app-pagination *ngIf="needPagination" [currentPage]="currentPage" [totalPages]="totalPages"
                (pageChanged)="onPageChanged($event)"></app-pagination>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>