.table > thead > tr > th, .table > tbody > tr > th, .table > tfoot > tr > th, .table > thead > tr > td, .table > tbody > tr > td, .table > tfoot > tr > td {
    padding: 8px 2px;
    vertical-align: middle;
  }

  .main-panel .main-content {
    margin-top: 36px !important;
  }