<div class="main-content">
  <div class="container-fluid">
    <div class="row" *ngIf="showTheList">
      <div class="col-md-12">
        <div class="card">
          <div class="card-header row card-header-info card-header-icon" style="display: inline-flex">
            <div class="col align-self-start">
              <div class="card-icon">
                <i class="material-icons">assignment</i>
              </div>
              <h4 class="card-title">Buyurtmalar ro'yhati</h4>
            </div>
          </div>
          <div class="card-body">
            <div class="toolbar">
              <!-- Here you can write extra buttons/actions for the toolbar              -->
            </div>
            <div class="material-datatables">
              <div class="row">
                <div class="col-auto">
                  <button mat-raised-button class="btn btn-warning btn-sm" (click)="openListOfPartLog()">
                    Jadvalni yopish
                  </button>
                </div>

                <div class="col-sm-6 col-lg-3">
                  <mat-form-field class="example-full-width">
                    <input matInput type="text" style="font-size: large" placeholder="Trek nomer orqali izlash. . ."
                      (input)="getListOfParcelsWithSearch($event.target.value)" />
                  </mat-form-field>
                </div>

                <!--   <div class="col-sm-6 col-lg-3">
                              <div class="dropdown">
                                  <button mat-raised-button href="#pablo" class="dropdown-toggle btn btn-primary btn-round btn-block" data-toggle="dropdown">Dropdown
                                      <b class="caret"></b>
                                  </button>
                                  <ul class="dropdown-menu dropdown-menu-left">
                                      <li *ngFor="let rk of orderStatusTypeList; let i = index">
                                        <a href="#pablo">{{rk.descriptionEn}}</a>
                                    </li>
                                  </ul>
                              </div>
                          </div>
                          <div class="col-sm-6 col-lg-3">
                            <div class="dropdown">
                              <button mat-raised-button href="#pablo" class="dropdown-toggle btn btn-primary btn-round btn-block" data-toggle="dropdown">Product Type
                                  <b class="caret"></b>
                              </button>
                              <ul class="dropdown-menu dropdown-menu-left">
                                  <li class="dropdown-header">Order Types</li>
                                  <li *ngFor="let rw of orderTypesList; let i = index">
                                      <a href="#pablo">{{rw.descriptionEn}}</a>
                                  </li>
                              </ul>
                          </div> 
                          
                      </div> -->
              </div>
              <div class="table-responsive">
                <table class="table table-striped table-no-bordered table-hover" cellspacing="0" width="100%"
                  style="width: 100%">
                  <thead>
                    <tr>
                      <th class="text-center">{{ dataTable.headerRow[0] }}</th>
                      <th class="text-center">{{ dataTable.headerRow[1] }}</th>
                      <th class="text-center">{{ dataTable.headerRow[2] }}</th>
                      <th class="text-center">{{ dataTable.headerRow[3] }}</th>

                      <th class="text-center">{{ dataTable.headerRow[5] }}</th>
                      <th class="text-center">{{ dataTable.headerRow[6] }}</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let row of allData; let i = index" class="text-center"
                      [ngClass]="{ 'table-success': row.status == 9 }">
                      <td>{{ i + 1 }}</td>
                      <td>{{ row.name_ru }}</td>
                      <td>{{ row.tracking_number }}</td>
                      <td>{{ row.quantity }}</td>

                      <td>{{ orderStatusText[i] }}</td>
                      <td>
                        <button mat-raised-button class="btn btn-link btn-info btn-just-icon visibility"
                          data-toggle="modal" data-target="#myModal">
                          <i class="material-icons" (click)="getInfoOfParcel(row.tracking_number)">visibility</i>
                        </button>
                        <!-- <a href="javascript:void(0" class="btn btn-link btn-primary btn-just-icon edit"><i (click)="editParcel(row.trackingNumber,row.foreignName,row.quantity,row.orderType)" class="material-icons">edit</i></a> -->
                        <a href="javascript:void(0s" class="btn btn-link btn-success btn-just-icon"><i (click)="
                              receiveParcel(row.trackingNumber, row.russianName)
                            " class="material-icons">done_outline</i></a>
                      </td>
                    </tr>
                  </tbody>
                </table>

                <ul class="pagination" *ngIf="needPagination">
                  <!--  <li class="page-item">
                              <a mat-button class="page-link" aria-label="Previous">
                                <span aria-hidden="true"><i class="fa fa-angle-double-left" aria-hidden="true"></i></span>
                              </a>
                            </li> -->
                  <li class="page-item" [ngClass]="{ active: currentPage == i }"
                    *ngFor="let page of mypages; index as i">
                    <a mat-button class="page-link" (click)="pagebyNum(i)">{{
                      i + 1
                      }}</a>
                  </li>
                  <!-- <li class="page-item">
                              <a mat-button class="page-link" aria-label="Next">
                                <span aria-hidden="true"><i class="fa fa-angle-double-right" aria-hidden="true"></i></span>
                              </a>
                            </li> -->
                </ul>
              </div>

              <div class="col-auto">
                <button mat-raised-button class="btn btn-warning btn-sm" (click)="openListOfPartLog()">
                  Jadvalni yopish
                </button>
              </div>
            </div>
          </div>
          <!-- end content-->
        </div>
        <!--  end card  -->
      </div>
      <!-- end col-md-12 -->
    </div>

    <!-- Classic Modal -->
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div *ngFor="let row of allData; let i = index">
          <div class="modal-content" *ngIf="row.tracking_number== trackingNum2">
            <div class="modal-header">
              <h4 class="modal-title">Trek nomeri: {{ row.tracking_number }}</h4>
              <button mat-button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                <i class="material-icons">clear</i>
              </button>
            </div>
            <div class="modal-body">
              <div class="row">
                <b>Xitoy xodim tarifi: &nbsp; </b>
                <p>{{ row.name_foreign }}</p>
              </div>
              <div class="row">
                <b>Rus tilida tarifi: &nbsp; </b>
                <p>{{ row.name_ru }}</p>
              </div>
              <div class="row">
                <b>Buyurtma turi:&nbsp;</b>
                <p>{{ orderTypeText[i] }}</p>
              </div>
              <div class="row">
                <b>Buyurtma soni:&nbsp; </b>
                <p>{{ row.quantity }}</p>
              </div>
              <div class="row">
                <b>Buyurtma hozirda: &nbsp; </b>
                <p>{{ orderStatusText[i] }}</p>
              </div>
              <!-- <div class="row"> <b>Kiritlgan sana: &nbsp; </b><p> . . .</p> </div> -->
              <div class="row">
                <b>Xitoy ombodirga kelgan vaqt: &nbsp; </b>
                <p>{{ row.in_foreign_warehouse_date | date:'EEEE, MMMM d, y, h:mm a' }}</p>
              </div>
              <div class="row">
                <b>Xitoy Airportga jo'natilgan vaqt vaqt: &nbsp;</b>
                <p>{{ row.on_way_to_airport_date | date:'EEEE, MMMM d, y, h:mm a' }}</p>
              </div>
            </div>
            <div class="modal-footer">
              <!-- <button mat-raised-button type="button" class="btn btn-link">Nice Button</button> -->
              <button mat-raised-button type="button" class="btn btn-danger btn-link" data-dismiss="modal">
                YOPISH
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!--  End Modal -->
    <!-- end row -->
    <!-- Start of party lists -->
    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="card-header card-header-primary card-header-icon">
            <div class="card-icon">
              <i class="material-icons">assignment</i>
            </div>
            <h4 class="card-title">
              Har bir reysda sizga kelayotgan yuklarni ko'rish
            </h4>
          </div>
          <div class="card-body">
            <div class="table-responsive">
              <table class="table">
                <thead>
                  <tr>
                    <th class="text-center">{{ tableData1.headerRow[0] }}</th>
                    <th>{{ tableData1.headerRow[2] }}</th>
                    <th>Avia/Avto</th>
                    <th class="text-center">{{ tableData1.headerRow[3] }}</th>

                    <th class="text-center">Yuk og'irligi</th>
                    <th class="text-center">Summasi</th>
                    <th class="text-center">Kurs</th>
                    <th class="text-center">Qarzingiz $da</th>
                    <th class="text-center">Qarzingiz SUMda</th>
                    <th class="text-right">{{ tableData1.headerRow[4] }}</th>
                    <!-- <th class="text-right">{{ tableData1.headerRow[5] }}</th> -->
                  </tr>
                </thead>
                <tbody>
                  <ng-container *ngFor="let row of allDataBoxes; let i = index">
                    <tr *ngIf="row.quantity !== 0">
                      <td class="text-center">{{ i + 1 }}</td>

                      <td>{{ row.name }}</td>
                      <td *ngIf="row.isHongKong == true; else elseBlockAvia"
                        style="font-weight: 600; color: rgb(33, 6, 186)">
                        Avto 🚚
                      </td>
                      <ng-template #elseBlockAvia>
                        <td style=" font-weight: 600; color: rgb(0, 229, 255)">Avia 🛬</td>
                      </ng-template>
                      <td class="text-center">{{ row.quantity }} ta</td>

                      <td *ngIf="row.weight != '0'; else elseBlock" class="text-center">
                        {{ row.weight }} kg
                      </td>
                      <ng-template #elseBlock>
                        <td class="text-center">- -</td>
                      </ng-template>

                      <td *ngIf="row.sum != '0'; else elseBlock2" class="text-center">
                        {{ row.sum_usd }} $
                      </td>
                      <ng-template #elseBlock2>
                        <td class="text-center">- -</td>
                      </ng-template>

                      <td class="text-center">{{ row.rate }}</td>

                      <td *ngIf="row.debt != '0'; else elseBlock3" class="text-center">
                        {{ row.debt }}$
                      </td>
                      <ng-template #elseBlock3>
                        <td class="text-center">- -</td>
                      </ng-template>

                      <td class="text-center">
                        {{ row.debt_uzs | currency : " " : "symbol" : "1.0-0" }} Sum
                      </td>

                      <td class="td-actions text-right">
                        <button mat-raised-button type="button" class="btn btn-info"
                          (click)="getListOfParcels(row.name)">
                          Ro'yhat ko'rish <i class="material-icons">preview</i>
                        </button>
                      </td>
                    </tr>
                  </ng-container>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>