<!-- Enhanced infoeachclient.component.html -->
<div class="main-content">
  <div class="container-fluid">
    <div class="row" *ngIf="showTheList">
      <div class="col-md-12">
        <div class="card">
          <div class="card-header row card-header-info card-header-icon" style="display: inline-flex">
            <div class="col align-self-start">
              <div class="card-icon">
                <i class="material-icons">assignment</i>
              </div>
              <h4 class="card-title">Buyurtmalar ro'yhati</h4>
            </div>
          </div>
          <div class="card-body">
            <div class="toolbar">
              <!-- Here you can write extra buttons/actions for the toolbar              -->
            </div>
            <div class="material-datatables">
              <div class="row">
                <div class="col-auto">
                  <button mat-raised-button class="btn btn-warning btn-sm" (click)="openListOfPartLog()">
                    Jadvalni yopish
                  </button>
                </div>

                <div class="col-sm-6 col-lg-3">
                  <mat-form-field class="example-full-width">
                    <input matInput type="text" style="font-size: large" placeholder="Trek nomer orqali izlash. . ."
                      (input)="getListOfParcelsWithSearch($event.target.value)" />
                  </mat-form-field>
                </div>
              </div>
              <div class="table-responsive">
                <table class="table table-striped table-no-bordered table-hover" cellspacing="0" width="100%"
                  style="width: 100%">
                  <thead>
                    <tr>
                      <th class="text-center">{{ dataTable.headerRow[0] }}</th>
                      <th class="text-center">{{ dataTable.headerRow[1] }}</th>
                      <th class="text-center">{{ dataTable.headerRow[2] }}</th>
                      <th class="text-center">{{ dataTable.headerRow[3] }}</th>
                      <th class="text-center">{{ dataTable.headerRow[5] }}</th>
                      <th class="text-center">{{ dataTable.headerRow[6] }}</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let row of allData; let i = index" class="text-center"
                      [ngClass]="{ 'table-success': row.status == 9 }">
                      <td>{{ i + 1 }}</td>
                      <td>{{ row.name_ru }}</td>
                      <td>{{ row.tracking_number }}</td>
                      <td>{{ row.quantity }}</td>
                      <td>{{ orderStatusText[i] }}</td>
                      <td>
                        <button mat-raised-button class="btn btn-link btn-info btn-just-icon visibility"
                          data-toggle="modal" data-target="#myModal">
                          <i class="material-icons" (click)="getInfoOfParcel(row.tracking_number)">visibility</i>
                        </button>
                      </td>
                    </tr>
                  </tbody>
                </table>

                <ul class="pagination" *ngIf="needPagination">
                  <li class="page-item" [ngClass]="{ active: currentPage == i }"
                    *ngFor="let page of mypages; index as i">
                    <a mat-button class="page-link" (click)="pagebyNum(i)">{{
                      i + 1
                      }}</a>
                  </li>
                </ul>
              </div>

              <div class="col-auto">
                <button mat-raised-button class="btn btn-warning btn-sm" (click)="openListOfPartLog()">
                  Jadvalni yopish
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Original Modal -->
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div *ngFor="let row of allData; let i = index">
          <div class="modal-content" *ngIf="row.tracking_number == trackingNum2">
            <div class="modal-header">
              <h4 class="modal-title">
                Trek nomeri: {{ row.tracking_number }}
              </h4>
              <button mat-button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                <i class="material-icons">clear</i>
              </button>
            </div>
            <div class="modal-body">
              <div class="row">
                <b>Xitoy xodim tarifi: &nbsp; </b>
                <p>{{ row.name_foreign }}</p>
              </div>
              <div class="row">
                <b>Rus tilida tarifi: &nbsp; </b>
                <p>{{ row.name_ru }}</p>
              </div>
              <div class="row">
                <b>Buyurtma turi:&nbsp;</b>
                <p>{{ orderTypeText[i] }}</p>
              </div>
              <div class="row">
                <b>Buyurtma soni:&nbsp; </b>
                <p>{{ row.quantity }}</p>
              </div>
              <div class="row">
                <b>Buyurtma hozirda: &nbsp; </b>
                <p>{{ orderStatusText[i] }}</p>
              </div>
              <div *ngIf="row.in_foreign_warehouse_date" class="row">
                <b>Xitoy omboridga kelgan vaqt: &nbsp; </b>
                <p>{{ row.in_foreign_warehouse_date | date : "medium" }}</p>
              </div>
              <div *ngIf="row.on_way_to_airport_date" class="row">
                <b>Xitoy Aeraportga jo'natilgan vaqt vaqt: &nbsp;</b>
                <p>{{ row.on_way_to_airport_date | date : "medium" }}</p>
              </div>
              <div *ngIf="row.in_uzb_airport_date" class="row">
                <b>O'zbekiston Aerportiga kelgan vaqt: &nbsp;</b>
                <p>{{ row.in_uzb_airport_date | date : "medium" }}</p>
              </div>
              <div *ngIf="row.in_uzb_warehouse_date" class="row">
                <b>Toshkent omboriga kelgan vaqt: &nbsp;</b>
                <p>{{ row.in_uzb_warehouse_date | date : "medium" }}</p>
              </div>
              <div *ngIf="row.client_sent_date" class="row">
                <b>Mijozga yuborilgan vaqt: &nbsp;</b>
                <p>{{ row.client_sent_date | date : "medium" }}</p>
              </div>
              <div *ngIf="row.client_receive_date" class="row">
                <b>Mijoz qabul qilgan vaqt: &nbsp;</b>
                <p>{{ row.client_receive_date | date : "medium" }}</p>
              </div>
            </div>
            <div class="modal-footer">
              <button mat-raised-button type="button" class="btn btn-danger btn-link" data-dismiss="modal">
                YOPISH
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Main Consignments Table -->
    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="card-header card-header-primary card-header-icon">
            <div class="card-icon">
              <i class="material-icons">assignment</i>
            </div>
            <h4 class="card-title">
              Har bir reysda mijozga kelayotgan yuklarni ko'rish. Bu jadval
              <b style="font-size: x-large"> ID: K{{ currentID }} </b>uchun.
            </h4>
          </div>
          <div class="card-body">
            <div class="row">
              <div class="col-md-3">
                <form method="#" action="#" style="display: inline-flex">
                  <mat-form-field class="example-full-width">
                    <input matInput placeholder="Id kiriting:" type="text"
                      (keyup.enter)="getListOfPartyBoxes($event.target.value)" />
                  </mat-form-field>
                </form>
              </div>
              <div class="col-md-6">
                <h4>
                  Umumiy qarzdorlik:
                  <b>
                    {{ umQarzUSZ | currency : " " : "symbol" : "1.0-0" }}
                    so'm </b>yoki
                  <b>
                    {{ umQarzUSD | currency : " " : "symbol" : "1.0-0" }} $</b>
                </h4>
              </div>
            </div>

            <div class="table-responsive">
              <table class="table">
                <thead>
                  <tr>
                    <th class="text-center">{{ tableData1.headerRow[0] }}</th>
                    <th>{{ tableData1.headerRow[2] }}</th>
                    <th class="text-center">AVIA/AVTO</th>
                    <th class="text-center">{{ tableData1.headerRow[3] }}</th>
                    <th class="text-center">Yuk og'irligi</th>
                    <th class="text-center">Summasi</th>
                    <th class="text-center">Kurs</th>
                    <th class="text-center">Qarzi $da</th>
                    <th class="text-center">Qarzi SUMda</th>
                    <th class="text-right">{{ tableData1.headerRow[4] }}</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let row of allDataBoxes; let i = index">
                    <td class="text-center">{{ i + 1 }}</td>
                    <td>{{ row.name }}</td>
                    <td *ngIf="row.isHongKong == true; else elseBlockAvia"
                      style="font-weight: bold; color: rgb(33, 6, 186)">
                      AVTO
                    </td>
                    <ng-template #elseBlockAvia>
                      <td style="font-weight: bold; color: rgb(0, 229, 255)">AVIA</td>
                    </ng-template>
                    <td class="text-center">{{ row.quantity }} ta</td>
                    <td *ngIf="row.weight; else elseBlock" class="text-center">
                      {{ row.weight }} kg
                    </td>
                    <ng-template #elseBlock>
                      <td class="text-center">- -</td>
                    </ng-template>
                    <td *ngIf="row.sum_usd; else elseBlock2" class="text-center">
                      {{ row.sum_usd }} $
                    </td>
                    <ng-template #elseBlock2>
                      <td class="text-center">- -</td>
                    </ng-template>
                    <td class="text-center">
                      {{ row.rate }}
                    </td>
                    <td *ngIf="row.debt; else elseBlock3" class="text-center">
                      {{ row.debt }}$
                    </td>
                    <ng-template #elseBlock3>
                      <td class="text-center">- -</td>
                    </ng-template>
                    <td class="text-center">
                      {{ row.debt_uzs | currency : " " : "symbol" : "1.0-0" }}
                      Sum
                    </td>
                    <td class="td-actions text-right">
                      <button mat-raised-button type="button" class="btn btn-warning"
                        (click)="addFinance(row.id, row.name)">
                        Pul <i class="material-icons">loupe</i>
                      </button>
                      <button mat-raised-button type="button" class="btn btn-info" (click)="getListOfParcels(row.name)">
                        Ro'yhat<i class="material-icons">preview</i>
                      </button>
                      <!-- Enhanced Chek Button -->
                      <button mat-raised-button type="button" class="btn btn-success"
                        [disabled]="!row.quantity || row.quantity === 0"
                        (click)="openDeliveryCreationDirectly(row.id, row.name, row.weight, row.quantity)"
                        [attr.title]="(!row.quantity || row.quantity === 0) ? 'Qutillar mavjud emas' : 'Yetkazish yaratish'">
                        Chek <i class="material-icons">receipt_long</i>
                      </button>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>



    <!-- Delivery Creation Modal -->
    <div class="modal fade" id="deliveryCreationModal" tabindex="-1" role="dialog">
      <div class="modal-dialog modal-xl" role="document">
        <div class="modal-content">

          <!-- Modal Header -->
          <div class="modal-header">
            <div>
              <h4 class="modal-title">Yetkazish Yaratish</h4>
              <p class="card-category mb-0">
                Mijoz: <strong>K{{ currentID }}</strong> | Partiya: <strong>{{ selectedConsignmentName }}</strong>
              </p>
            </div>
            <button type="button" class="close" (click)="closeDeliveryModal()">
              <i class="material-icons">clear</i>
            </button>
          </div>

          <!-- Modal Body -->
          <div class="modal-body">

            <!-- Loading State -->
            <div *ngIf="loadingCustomerPackages" class="text-center p-4">
              <div class="spinner-border text-primary" role="status"></div>
              <p class="mt-2">Qutillar yuklanmoqda...</p>
            </div>

            <!-- Main Content -->
            <div *ngIf="!loadingCustomerPackages && customerPackages.length > 0">

              <!-- Step 1: Package Selection -->
              <div class="row">
                <div class="col-md-12">
                  <h5 class="title">
                    <i class="material-icons">inventory_2</i>
                    Qutillarni Tanlang
                  </h5>
                  <hr>
                </div>
              </div>

              <!-- Package Selection Table -->
              <div class="row mb-4">
                <div class="col-md-12">
                  <div class="table-responsive" style="max-height: 400px; overflow-y: auto;">
                    <table class="table table-striped">
                      <thead>
                        <tr>
                          <th width="50" class="text-center">
                            <i class="material-icons">check_box</i>
                          </th>
                          <th>Turi</th>
                          <th class="text-center">Qutillar</th>
                          <th class="text-center">Mahsulotlar</th>
                          <th>Partiyalar</th>
                          <th>Holat</th>
                        </tr>
                      </thead>
                      <tbody>
                        <ng-container *ngFor="let group of customerPackages">
                          <tr [class.table-success]="group.selected">
                            <td class="text-center">
                              <div class="form-check">
                                <label class="form-check-label">
                                  <input class="form-check-input" type="checkbox" [(ngModel)]="group.selected"
                                    (change)="updateSelectedPackages()" [disabled]="group.selectionType === 'partial'">
                                  <span class="form-check-sign">
                                    <span class="check"></span>
                                  </span>
                                </label>
                              </div>
                            </td>
                            <td>
                              <span *ngIf="group.type === 'tied'" class="badge badge-info">
                                Bog'langan
                              </span>
                              <span *ngIf="group.type === 'single'" class="badge badge-secondary">
                                Alohida
                              </span>
                            </td>
                            <td class="text-center">
                              <strong>{{ group.total_packages }}</strong> ta
                            </td>
                            <td class="text-center">
                              <strong>{{ group.total_items }}</strong> ta
                            </td>
                            <td>
                              <small>
                                <span *ngFor="let consignment of group.consignments; let last = last"
                                  [class.text-primary]="consignment === selectedConsignmentName"
                                  [class.font-weight-bold]="consignment === selectedConsignmentName">
                                  {{ consignment }}<span *ngIf="!last">, </span>
                                </span>
                              </small>
                            </td>
                            <td>
                              <span *ngIf="group.consignments.includes(selectedConsignmentName)"
                                class="badge badge-primary">
                                Joriy
                              </span>
                              <span *ngIf="!group.consignments.includes(selectedConsignmentName)"
                                class="badge badge-secondary">
                                Boshqa
                              </span>
                              <span *ngIf="group.selectionType === 'single'" class="badge badge-warning ml-1">
                                Qisman
                              </span>
                            </td>
                          </tr>

                          <!-- Partial Selection Options -->
                          <tr *ngIf="hasMultipleConsignments(group)" class="bg-light">
                            <td colspan="6" class="text-center">
                              <button class="btn btn-sm btn-warning mr-2" (click)="selectFullTiedGroup(group)"
                                [disabled]="group.selected">
                                Butun guruhni tanlash ({{ group.total_packages }} ta)
                              </button>
                              <button class="btn btn-sm btn-primary"
                                (click)="selectOnlyCurrentConsignmentPackages(group)" [disabled]="group.selected">
                                Faqat {{ selectedConsignmentName }} ({{ getPackageCountForConsignment(group,
                                selectedConsignmentName) }} ta)
                              </button>
                            </td>
                          </tr>
                        </ng-container>
                      </tbody>
                    </table>
                  </div>

                  <!-- Selection Summary -->
                  <div *ngIf="selectedPackageIdentifiers.length > 0" class="alert alert-success mt-3">
                    <div class="row">
                      <div class="col-md-8">
                        <strong>Tanlangan:</strong> {{ getTotalSelectedPackages() }} ta quti
                        <br>
                        <small>
                          {{ selectedConsignmentName }}: {{ getSelectedFromCurrentConsignment() }} ta |
                          Boshqa: {{ getSelectedFromOtherConsignments() }} ta
                        </small>
                      </div>
                      <div class="col-md-4 text-right">
                        <button class="btn btn-sm btn-danger" (click)="clearAllSelections()">
                          <i class="material-icons">clear</i>
                          Tozalash
                        </button>
                      </div>
                    </div>
                  </div>

                  <!-- Tied Package Warning -->
                  <div *ngIf="hasTiedPackagesSelected()" class="alert alert-warning mt-3">
                    <h6><i class="material-icons">warning</i> Bog'langan Qutillar</h6>
                    <!-- <p class="mb-0">
                      <small>
                        Qisman tanlash bog'lanishni buzadi va qutillar "collected" holatiga o'tkaziladi.
                      </small>
                    </p> -->
                  </div>
                </div>
              </div>

              <!-- Step 2: Delivery Details -->
              <div *ngIf="selectedPackageIdentifiers.length > 0">
                <div class="row">
                  <div class="col-md-12">
                    <h5 class="title">
                      <i class="material-icons">local_shipping</i>
                      Yetkazish Ma'lumotlari
                    </h5>
                    <hr>
                  </div>
                </div>

                <div class="row">

                  <!-- Delivery Type -->
                  <div class="col-md-6">
                    <div class="form-group">
                      <label class="bmd-label-floating">
                        Yetkazish Turi 📦
                      </label>
                      <select class="form-control" [(ngModel)]="deliveryType" (change)="onDeliveryTypeChange()">
                        <option value="">Tanlang</option>
                        <option value="Pick-up">👤O'zim olaman</option>
                        <option value="Yandex">🚕Yandex</option>
                        <option value="Own-Courier">🚚Kuryer</option>
                        <option value="EMU">🏣EMU Filial</option>
                      </select>
                    </div>
                  </div>

                  <!-- Customer Phone -->
                  <div class="col-md-6">
                    <div class="form-group">
                      <label class="bmd-label-floating">
                        📞 Mijoz Telefoni
                      </label>
                      <input type="tel" class="form-control" [(ngModel)]="customerPhone" placeholder="+998901234567">
                    </div>
                  </div>

                </div>

                <!-- EMU Branch Selection -->
                <div class="row" *ngIf="deliveryType === 'EMU'">
                  <div class="col-md-6">
                    <div class="form-group">
                      <label class="bmd-label-floating">Viloyat <span class="text-danger">*</span></label>
                      <select class="form-control" [(ngModel)]="selectedRegionId" (change)="onRegionSelect($event)">
                        <option value="">Viloyat tanlang</option>
                        <option *ngFor="let region of regions" [value]="region.id">
                          {{ region.name }}
                        </option>
                      </select>
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="form-group">
                      <label class="bmd-label-floating">🏣 EMU Filial</label>
                      <select class="form-control" [(ngModel)]="selectedBranchId" [disabled]="!selectedRegionId">
                        <option value="">Filial tanlang</option>
                        <option *ngFor="let branch of branches" [value]="branch.id">
                          {{ branch.name }}
                        </option>
                      </select>
                    </div>
                  </div>
                </div>

                <!-- Address for Yandex/Courier -->
                <div class="row" *ngIf="deliveryType === 'Yandex' || deliveryType === 'Own-Courier'">
                  <div class="col-md-12">
                    <div class="form-group">
                      <label class="bmd-label-floating">
                        📍 Yetkazish Manzili <span class="text-danger"></span>
                      </label>
                      <textarea class="form-control" [(ngModel)]="deliveryAddress"
                        placeholder="To'liq manzilni kiriting"></textarea>
                    </div>
                  </div>

                  <!-- Yandex Fee -->
                  <!-- <div class="col-md-6" *ngIf="deliveryType === 'Yandex'">
                    <div class="form-group">
                      <label class="bmd-label-floating">Yandex Narxi</label>
                      <input type="number" class="form-control" [(ngModel)]="yandexFee" placeholder="0">
                    </div>
                  </div> -->

                  <!-- Courier Name -->
                  <div class="col-md-6" *ngIf="deliveryType === 'Own-Courier'">
                    <div class="form-group">
                      <label class="bmd-label-floating">Kuryer Ismi 🚕</label>
                      <input type="text" class="form-control" [(ngModel)]="courierName" placeholder="Kuryer ismi">
                    </div>
                  </div>
                </div>

                <!-- Delivery Fee and Notes -->
                <div class="row">
                  <!-- <div class="col-md-6">
                    <div class="form-group">
                      <label class="bmd-label-floating">Yetkazish Narxi</label>
                      <input type="number" class="form-control" [(ngModel)]="deliveryFee" placeholder="0">
                    </div>
                  </div> -->
                  <div class="col-md-6">
                    <div class="form-group">
                      <label>Izohlar📝</label>
                      <input type="text" class="form-control" [(ngModel)]="deliveryNotes"
                        placeholder="Qo'shimcha ma'lumotlar">
                    </div>
                  </div>
                </div>

              </div>

            </div>

            <!-- No packages message -->
            <div *ngIf="!loadingCustomerPackages && customerPackages.length === 0" class="text-center p-4">
              <i class="material-icons" style="font-size: 64px; color: #ccc;">inbox</i>
              <h5 class="mt-2">Omborda quti yo'q</h5>
              <p class="text-muted">Bu mijozning barcha qutilari allaqachon yuborilgan</p>
            </div>

          </div>

          <!-- Modal Footer -->
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" (click)="closeDeliveryModal()">
              Bekor qilish
            </button>

            <button type="button" class="btn btn-warning" (click)="printPaymentReceiptFromModal()"
              [disabled]="!selectedConsignmentId">
              <i class="material-icons">receipt</i>
              To'lov Cheki
            </button>

            <button type="button" class="btn btn-success" *ngIf="selectedPackageIdentifiers.length > 0"
              (click)="createDelivery()" [disabled]="!canCreateDelivery() || creatingDelivery">
              <span *ngIf="creatingDelivery" class="spinner-border spinner-border-sm mr-1"></span>
              <i class="material-icons" *ngIf="!creatingDelivery">send</i>
              Yetkazish Yaratish
            </button>
          </div>

        </div>
      </div>
    </div>

    <!-- Original Print Section -->
    <div #printSection3 id="print-section3" *ngIf="printCondition3">
      --- ⭐ Yuk Z ⭐ ---
      <div>
        <span style="font-size: 36px"><strong>K{{ idsChek }}</strong></span>
      </div>
      <div></div>
      <div>Partiyasi: {{ nameChek }}</div>
      <div style="margin: 2px 2px">
        Soni: <strong>{{ counterChek }} </strong> ta
      </div>
      <div style="margin: 2px 2px">
        Og'irligi: <strong>{{ weightChek }}</strong> kg
      </div>
      <div>
        <i>
          Izoh: <span> {{ izohChek }}</span>
        </i>
      </div>
      <br />
    </div>

    <!-- Delivery Print Section -->
    <div #deliveryPrintSection id="delivery-print-section" *ngIf="printConditionDelivery">
      --- ⭐ YETKAZISH CHEKI ⭐ ---
      <div>
        <span style="font-size: 36px"><strong>K{{ currentID }}</strong></span>
      </div>
      <div></div>
      <div>Yetkazish ID: {{ deliveryBarcode }}</div>
      <div style="margin: 2px 2px">
        Turi: <strong>{{ deliveryTypeText }}</strong>
      </div>
      <div style="margin: 2px 2px">
        Qutillar soni: <strong>{{ totalSelectedPackagesForPrint }}</strong> ta
      </div>
      <div style="margin: 2px 2px">
        Telefon: <strong>{{ customerPhone }}</strong>
      </div>
      <div *ngIf="deliveryAddress" style="margin: 2px 2px">
        Manzil: <strong>{{ deliveryAddress }}</strong>
      </div>
      <div *ngIf="selectedBranchName" style="margin: 2px 2px">
        EMU Filial: <strong>{{ selectedBranchName }}</strong>
      </div>
      <div style="margin: 2px 2px">
        Yaratilgan: <strong>{{ currentDate }}</strong>
      </div>
      <div *ngIf="deliveryNotes">
        <i>Izoh: <span>{{ deliveryNotes }}</span></i>
      </div>
      <div style="margin-top: 10px;">
        <small>Barkodlar: {{ selectedBarcodes }}</small>
      </div>
      <br />
    </div>

  </div>
</div>