<div class="main-content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <button style="z-index: 999;" mat-raised-button="" (click)="recordNewClient()"
          class="mat-focus-indicator btn btn-success mat-raised-button mat-button-base">
          <span class="mat-button-wrapper"><span class="btn-label">
            </span> Yangi Mijoz qo'shish </span> <i class="material-icons">person_add </i>
          <span matripple="" class="mat-ripple mat-button-ripple" ng-reflect-disabled="false"
            ng-reflect-centered="false" ng-reflect-trigger="[object HTMLButtonElement]"></span><span
            class="mat-button-focus-overlay"></span>
        </button>

        <textarea id="clipboard-example-textarea" #userinput cols="12"
          rows="5">Assalomu alaykum Hurmatli mijoz!

            Bizni tanlaganingiz uchun tashakkur, Biz siz bilan ishlashdan ma'mnunmiz. 

            Agar biz bilan ishlamoqchi bo'lsangiz: 
          
            ➡️ Ism Sharfingiz, 
            ➡️ Tel raqamingiz,
            ➡️Passport yoki ID kartangiz rasmi,
            ➡️To'liq Manzilingiz uy adresigacha
            
            Shularni bizga yuboring! Biz sizga yangi kod, manzil va sistema linklarini beramiz, hozircha @activecargo kanalimizga azo bo'ling. Agar 10tdan ko'p yuklar buyurtma qilib shu yerda eslatsangiz sizga o'rgatish uchun yopiq bo'lgan kanalimizni taqdim qilamiz! U yerda siz kargo sohasida juda ko'p yangi bilimlarni va sirlarni bilib olasiz!</textarea>
        <button class="mat-focus-indicator btn btn-info mat-raised-button mat-button-base"
          (click)="copyInputMessage(userinput)" value="click to copy">Yangi Mijoz</button>

        <!-- <textarea id="clipboard-example-textarea" #userinput2 cols="12" rows="5" >💳 Yangi ID uchun To'lovni: 30 ming sum
              Payme dan ActiveCargo deb izlang
              
              Yoki:
              9860 1201 0551 3077
              Isroilov Yusuf
              
              Raqamiga o'tkazing.
              Bizga screenshot yuboring. </textarea> -->

        <!-- <button class="mat-focus-indicator btn btn-info mat-raised-button mat-button-base" (click)="copyInputMessage(userinput2)" value="click to copy" >Mijoz Karta</button> 
              -->


        <textarea id="clipboard-example-textarea" #userinput3 cols="12" rows="5">
ActiveCargo Narxlar bilan tanishing!

🛬AVIA - Oddiy buyurtmalar (Bolalar va Kattalar Kiyimlar, Oyoq kiyimlar, Sumkalar, o'yinchoqlar, oshxona anjomlari, uy buyumlari)
🥇 Bir partiyada 0.2kg dan 20kg gacha xar kilosi 9.5$  dan,
🥈  Bir partiyada 20kg dan 60kg gacha xar kilosiga 9$ dan,
🥉 Bir partiyada 60 kg dan ko'proq bo'lsa xar kilosi 8.5$ dan! 
🛩 Kelish muddati: 4-9 Kun. Xaftada ikkita reys!
       ➖➖➖➖➖
🛬 AVIA - BREND, BATAREYKALI va SUYUQLIK jo'natmalar: kilosiga 12$ dan
🛩 Kelish muddati: 14 - 19 Kun
       ➖➖➖➖➖
🚗 AVTO - Asosan ko'p sonli (SERIYA) yuklar
🥇 Bir partiyada 0.2kg dan 30kg gacha xar kilosi 7$  dan,
🥈  Bir partiyada 30kg tepasi xar kilosiga 6.5$ dan,
🥉 Yuklar ko'paygan sari kelishiladi.

🚚 Kelish muddati: 14-19 Kun

O'zbekiston bo'ylab 140 ta filialaga bepul yetkazamiz, Viloyat markazlari qolaversa juda ko'plab tuman markazlarigacha tekin yetkaziladi.'
                
                ♾ AVTO dan buyurtma berish uchun Admin (@activecargo_admin) ga bog'lanib albatta Boshqa manzil oling!</textarea>
        <button class="mat-focus-indicator btn btn-info mat-raised-button mat-button-base"
          (click)="copyInputMessage(userinput3)" value="click to copy">Narx Copy</button>


        <textarea id="clipboard-example-textarea" #userinput4 cols="12" rows="5">
Hurmatli Mijozlar,

Quydagilarni diqqat bilan o'qib chiqishingizni so'raymiz:
                  
📦Abyomli yuklar bo'lganda bu abyom vazni bo'yicha o'lchanadi. 
                  
Seriya yani bir turdagi maxsulotdan 3 donadan ko'p bo'lsa to'g'ridan to'g'ri AVTO orqali yuborilishi mumkin va bir donasi narxi 200$ dan qimmat (masalan texnikalar yoki donasi juda qimmat buyumlar) yuk yuborishdan oldin biz bilan maslahatlashing!
                  
❌Bazi umuman mumkin bo'lmagan jo'natmalar: atirlar(chunki tarkibi yonuvchan), suyuqliklar (Vaqtincha mumkin emas, Shampun, kasmetikalar), juda katta magnitga ega qurilmalar, yog'lar, dorilar, yonuvchan spreylar, dronlar, lazer uskunalar, katta qismi batareykali buyumlar(Power Banklar), har qanday intim maxsulotlar, har qanday tibbiyot (meditsinaga) ga oid jo'natmalar, har qanday tirik (jonli) hayvon va o'simliklar, har qanday yeguliklar, har qanday Harbiy maqsaddagi buyumlar, Katta tig'li pichoqlar, qimmatbaxo kumush yoki tilla taqinchoqlar va O'z.R qonunlarida taqiqlangan har qanday buyurtmalar yetkazib berilmaydi. Bunday buyurtmalar qilinganida javobgarlik ActiveCargo zimmasida emas. Sinishi mumkin deb o'ylagan har qanday yukingizni buyurtma qilishdan oldin biz bilan maslahatlashing. Maslahatlashmasdan qilingan va sinib qolgan buyurtmalarga ActiveCargo javob bermaydi. E'tiboringiz uchun raxmat.
                  </textarea>
        <button class="mat-focus-indicator btn btn-primary mat-raised-button mat-button-base"
          (click)="copyInputMessage(userinput4)" value="click to copy">Mumkin Emas</button>

        <br>

        <textarea id="clipboard-example-textarea" #userinput2 cols="12" rows="5">
Bu AVTO Kargo manzilimiz:

陆运W192
18028594657
广东省广州市白云区龙归街道南村三姓南街43号1楼原好客源超市 陆运W192 

Diqqat qiling: Manzil kirgazgandan keyin albatta bizga screenshot yubring. AVTO kargoga faqat ko'p sonli yuklarni uring. AVTO va AVIA ni aralashtirib yubormang.
</textarea>

        <button class="mat-focus-indicator btn btn-info mat-raised-button mat-button-base"
          (click)="copyInputMessage(userinput2)" value="click to copy">AVTO MANZIL</button>


        <textarea id="clipboard-example-textarea" #userinput2 cols="12" rows="5">
K-Mijozlar uchun Manzil kiritish qo'llanmasi: https://youtu.be/0aVJL7k0Fs8
                </textarea>

        <button class="mat-focus-indicator btn btn-warning mat-raised-button mat-button-base"
          (click)="copyInputMessage(userinput2)" value="click to copy">K-idlar Video</button>

        <!-- <textarea id="clipboard-example-textarea" #userinput2 cols="12" rows="5" >
N-Mijozlar uchun Manzil kiritish qo'llanmasi: https://youtu.be/IXCqBZVBePg     
              </textarea> 
                            
              <button class="mat-focus-indicator btn btn-warning mat-raised-button mat-button-base" (click)="copyInputMessage(userinput2)" value="click to copy" >N-idlar Video</button> 
                                   -->


        <div class="card" id="listcard">

          <div class="card-header row card-header-primary card-header-icon" style="display: inline-flex;">
            <div class="col align-self-start  ">
              <div class="card-icon">
                <i class="material-icons">assignment</i>
              </div>
              <h4 class="card-title">Mijozlar ro'yhati</h4>
            </div>
          </div>
          <div class="card-body">
            <div class="toolbar">
              <!-- Here you can write extra buttons/actions for the toolbar              -->
            </div>
            <div class="material-datatables">
              <div class="row">
                <div class="col-sm-6 col-lg-3">
                  <mat-form-field class="example-full-width">
                    <input matInput type="text" style="font-size: large;" placeholder="Telefon nomeri"
                      (input)="getListOfUsersWithFilter($event.target.value,'','','')">
                  </mat-form-field>
                </div>


                <div class="col-sm-6 col-lg-3">
                  <mat-form-field class="example-full-width">
                    <input matInput type="text" style="font-size: large;" placeholder="Mijoz ID si "
                      (input)="getListOfUsersWithFilter('',$event.target.value,'','')">
                  </mat-form-field>
                </div>


                <div class="col-sm-6 col-lg-3">
                  <mat-form-field class="example-full-width">
                    <input matInput type="text" style="font-size: large;" placeholder="Mijoz ismi"
                      (input)="getListOfUsersWithFilter('', '', $event.target.value,'')">
                  </mat-form-field>
                </div>
                <div class="col-sm-6 col-lg-3">
                  <mat-form-field class="example-full-width">
                    <input matInput type="text" style="font-size: large;" placeholder="Mijoz familyasi"
                      (input)="getListOfUsersWithFilter('','','',$event.target.value)">
                  </mat-form-field>
                </div>


                <!-- 
                <div class="col-sm-12 col-lg-6 right-align">
                  <ul class="pagination" *ngIf="needPagination" style="justify-content: center;">
                     <li class="page-item">
                                <a mat-button class="page-link" aria-label="Previous">
                                  <span aria-hidden="true"><i class="fa fa-angle-double-left" aria-hidden="true"></i></span>
                                </a>
                              </li>
                    <li class="page-item" [ngClass]="{'active': currentPage == i}"
                      *ngFor="let page of mypages; index as i">
                      <a mat-button class="page-link" (click)="pagebyNum(i)">{{i+1}}</a>
                    </li>
                    <li class="page-item">
                                <a mat-button class="page-link" aria-label="Next">
                                  <span aria-hidden="true"><i class="fa fa-angle-double-right" aria-hidden="true"></i></span>
                                </a>
                              </li>
                  </ul>
                </div> -->
                <!--   <div class="col-sm-6 col-lg-3">
                              <div class="dropdown">
                                  <button mat-raised-button href="#pablo" class="dropdown-toggle btn btn-primary btn-round btn-block" data-toggle="dropdown">Dropdown
                                      <b class="caret"></b>
                                  </button>
                                  <ul class="dropdown-menu dropdown-menu-left">
                                      <li *ngFor="let rk of orderStatusTypeList; let i = index">
                                        <a href="#pablo">{{rk.descriptionEn}}</a>
                                    </li>
                                  </ul>
                              </div>
                          </div>
                          <div class="col-sm-6 col-lg-3">
                            <div class="dropdown">
                              <button mat-raised-button href="#pablo" class="dropdown-toggle btn btn-primary btn-round btn-block" data-toggle="dropdown">Product Type
                                  <b class="caret"></b>
                              </button>
                              <ul class="dropdown-menu dropdown-menu-left">
                                  <li class="dropdown-header">Order Types</li>
                                  <li *ngFor="let rw of orderTypesList; let i = index">
                                      <a href="#pablo">{{rw.descriptionEn}}</a>
                                  </li>
                              </ul>
                          </div> 
                          
                      </div> -->

              </div>
              <div class="table-responsive">

                <table class="table table-striped table-no-bordered table-hover" cellspacing="0" width="100%"
                  style="width:100%">
                  <thead>
                    <tr>
                      <th class="text-center">{{ dataTable.headerRow[0] }}</th>
                      <th class="text-center">{{ dataTable.headerRow[1] }}</th>
                      <th class="text-center">{{ dataTable.headerRow[2] }}</th>
                      <th class="text-center">{{ dataTable.headerRow[3] }}</th>
                      <th class="text-center">{{ dataTable.headerRow[4] }}</th>
                      <!--  <th class="text-center">{{ dataTable.headerRow[5] }}</th>
                                  <th class="text-center">{{ dataTable.headerRow[6] }}</th> -->
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let row of allUsersData; let i = index" class="text-center ">
                      <td>{{ (currentPage * pageSize) + i + 1 }}</td>
                      <td>{{row.id}}</td>
                      <td>{{row.username}}</td>
                      <td>{{row.first_name}} {{row.last_name}}</td>
                      <td>{{row.registered_date | slice:0:10}}</td>
                      <!--  <td>...</td> -->
                      <td>
                        <button mat-raised-button class="btn btn-link btn-warning btn-just-icon visibility"><i
                            class="material-icons" (click)="changePhoneNumber(row.id)">add_ic_call</i></button>
                        <button mat-raised-button class="btn btn-link btn-info btn-just-icon visibility"><i
                            class="material-icons" (click)="changePassword(row.id)">password</i></button>
                        <a href="javascript:void(0" class="btn btn-link btn-primary btn-just-icon edit"><i
                            (click)="editClient(row.id,row.username,row.first_name,row.last_name)"
                            class="material-icons">edit</i></a>
                        <!-- <a href="javascript:void(0s" class="btn btn-link btn-success btn-just-icon "><i (click)="receiveParcel(row.trackingNumber)"  class="material-icons">done_outline</i></a>
                                    </td> -->
                    </tr>
                  </tbody>
                </table>

              </div>
              <!-- Reusable Pagination Component -->
              <app-pagination *ngIf="needPagination" [currentPage]="currentPage" [totalPages]="totalPages"
                (pageChanged)="onPageChanged($event)"></app-pagination>
            </div>
          </div>
          <!-- end content-->
        </div>
        <!--  end card  -->
      </div>
      <!-- end col-md-12 -->
    </div>

    <!-- end row -->
  </div>
</div>