<div class="main-content">
    <div class="container-fluid">
        <div class="card3 col-md-4 ">
            <div class="">
            <button mat-raised-button=""  class="mat-focus-indicator btn btn-success mat-raised-button mat-button-base">
              <span class="mat-button-wrapper"><span class="btn-label">
                <i class="material-icons">print</i></span> Print Manifest </span>
                <span matripple="" class="mat-ripple mat-button-ripple" ng-reflect-disabled="false" ng-reflect-centered="false" ng-reflect-trigger="[object HTMLButtonElement]"></span><span class="mat-button-focus-overlay"></span>
            </button>
            </div>
            <br>
          </div> 
        <div class="">
            <table cellspacing="0" border="0">
                <colgroup width="359" span="2"></colgroup>
                <tbody><tr>
                    <td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000" valign="middle" height="60" align="center"><b><font face="Times New Roman" color="#000000">GUANGZHOU YIYANG GLOBAL SUPPLY CHAIN CO,,LTD</font></b></td>
                    <td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000" valign="middle" align="center"><b><font face="Times New Roman" color="#000000">YUMA BEST SOFT  Limited Liability Company</font></b></td>
                </tr>
                <tr>
                    <td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000" valign="bottom" height="247" align="center"><font face="DejaVu Sans Mono" color="#000000">ROOM 406 BLOCK F QIANGSHENG BUILDING,NO,12 JIANGXIA NORTH-MIDDLE ROAD,HUANGSHI STREET,BAIYUN DISTRICT GUANGZHOU CITY, CHINA<br>Beneficiary’s A/C No:3602076009200275471<br>THE INDUSTRIAL AND COMMERCIAL BANK OF<br>CHINA，GUANGDONG PROVINCIAL BRANCH,<br>Beneficiary's Bank Address: No,123 Yan Jiang Xi Road<br>Guangzhou，Guangdong （510120） China<br>SWIFT Code:ICBKCNBJGDG<br></font></td>
                    <td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000" valign="bottom" align="center"><font face="Times New Roman" color="#000000">36 Room, 8 Apartment, Yalangach Street  Mirzo Ulugbek district, Tashkent city, Republic of Uzbekistan<br><br>Account number: 2020 8000 0052 0168 5001<br>“Orient Finans” PJSCB of the Republic of Uzbekistan<br>Main Branch<br>Address: Tashkent, Mirzo Ulugbek district, Osiyo street, 5<br>MFO-01071 SWIFT: ORFBUZ22   IFUT-58290<br><br>STIR-307269925<br></font></td>
                </tr>
                <tr>
                    <td style="border-top: 1px solid #000000" colspan="2" valign="middle" height="60" align="center"><b><font face="Times New Roman" color="#000000">CARGO MANIFEST<br>ГРУЗОВОЙ МАНИФЕСТ<br>122</font></b></td>
                    </tr>
                 </tbody>
            </table>

            <table cellspacing="0" border="0">
                <colgroup width="41"></colgroup>
                <colgroup width="122"></colgroup>
                <colgroup width="188"></colgroup>
                <colgroup width="117"></colgroup>
                <colgroup width="87"></colgroup>
                <colgroup width="81"></colgroup>
                <tbody><tr>
                    <td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000" colspan="6" valign="bottom" height="20" align="center"><font face="Times New Roman" color="#000000">Name of documents in cargo manifest/ Перечень сведений, указываемых в манифест</font></td>
                    </tr>
                <tr>
                    <td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000" colspan="6" valign="bottom" height="20" align="center"><font face="Times New Roman" color="#000000">Waybill number/ Номер транспортной накладной: 250-25636565</font></td>
                    </tr>
                <tr>
                    <td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000" valign="middle" height="79" align="center"><font face="Times New Roman" color="#000000">№</font></td>
                    <td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000" valign="middle" align="center"><b><font face="Times New Roman" color="#000000">Invoice numbers/ Номер инвойсов</font></b></td>
                    <td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000" valign="middle" align="center"><font face="Times New Roman" color="#000000">Receiver’s name/ Ф,И,О получателей</font></td>
                    <td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000" valign="middle" align="center"><font face="Times New Roman" color="#000000">Passport number/ Серия и номер паспортов</font></td>
                    <td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000" valign="middle" align="center"><font face="Times New Roman" color="#000000">Gross weight/ Вес брутто посылки</font></td>
                    <td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000" valign="middle" align="center"><font face="Times New Roman" color="#000000">Total price/ цена посилки</font></td>
                </tr>
                <tr>
                    <td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000" sdval="1" sdnum="1033;" valign="bottom" height="20" align="center"><font face="Times New Roman" color="#000000">1</font></td>
                    <td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000" valign="bottom" align="center"><b><font face="Times New Roman" color="#000000">CU1011003 </font></b></td>
                    <td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000" valign="bottom" align="center"><b><font face="Times New Roman" color="#000000">Norkazakov Bobomurod</font></b></td>
                    <td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000" valign="bottom" align="center"><b><font face="Times New Roman" color="#000000">AA7414535</font></b></td>
                    <td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000" valign="bottom" align="center"><font face="Times New Roman" color="#000000">9,25</font></td>
                    <td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000" valign="bottom" align="center"><font face="Times New Roman" color="#000000">85,80</font></td>
                </tr>
                <tr>
                    <td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000" sdval="2" sdnum="1033;" valign="bottom" height="20" align="center"><font face="Times New Roman" color="#000000">2</font></td>
                    <td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000" valign="bottom" align="center"><b><font face="Times New Roman" color="#000000">CU1011004</font></b></td>
                    <td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000" valign="bottom" align="center"><b><font face="Times New Roman" color="#000000">Norkazakov Bobomurod</font></b></td>
                    <td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000" valign="bottom" align="center"><b><font face="Times New Roman" color="#000000">AA7414535</font></b></td>
                    <td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000" valign="bottom" align="center"><font face="Times New Roman" color="#000000">9,25</font></td>
                    <td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000" valign="bottom" align="center"><font face="Times New Roman" color="#000000">85,80</font></td>
                </tr>
                <tr>
                    <td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000" sdval="3" sdnum="1033;" valign="bottom" height="20" align="center"><font face="Times New Roman" color="#000000">3</font></td>
                    <td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000" valign="bottom" align="center"><b><font face="Times New Roman" color="#000000">CU1011005</font></b></td>
                    <td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000" valign="bottom" align="center"><b><font face="Times New Roman" color="#000000">Norkazakov Bobomurod</font></b></td>
                    <td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000" valign="bottom" align="center"><b><font face="Times New Roman" color="#000000">AA7414535</font></b></td>
                    <td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000" valign="bottom" align="center"><font face="Times New Roman" color="#000000">9,25</font></td>
                    <td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000" valign="bottom" align="center"><font face="Times New Roman" color="#000000">85,80</font></td>
                </tr>
                <tr>
                    <td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000" sdval="4" sdnum="1033;" valign="bottom" height="20" align="center"><font face="Times New Roman" color="#000000">4</font></td>
                    <td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000" valign="bottom" align="center"><b><font face="Times New Roman" color="#000000">CU1011006</font></b></td>
                    <td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000" valign="bottom" align="center"><b><font face="Times New Roman" color="#000000">Norkazakov Bobomurod</font></b></td>
                    <td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000" valign="bottom" align="center"><b><font face="Times New Roman" color="#000000">AA7414535</font></b></td>
                    <td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000" valign="bottom" align="center"><font face="Times New Roman" color="#000000">9,25</font></td>
                    <td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000" valign="bottom" align="center"><font face="Times New Roman" color="#000000">85,80</font></td>
                </tr>
                <tr>
                    <td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000" sdval="5" sdnum="1033;" valign="bottom" height="20" align="center"><font face="Times New Roman" color="#000000">5</font></td>
                    <td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000" valign="bottom" align="center"><b><font face="Times New Roman" color="#000000">CU1011007</font></b></td>
                    <td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000" valign="bottom" align="center"><b><font face="Times New Roman" color="#000000">Norkazakov Bobomurod</font></b></td>
                    <td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000" valign="bottom" align="center"><b><font face="Times New Roman" color="#000000">AA7414535</font></b></td>
                    <td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000" valign="bottom" align="center"><font face="Times New Roman" color="#000000">9,25</font></td>
                    <td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000" valign="bottom" align="center"><font face="Times New Roman" color="#000000">85,80</font></td>
                </tr>
                <tr>
                    <td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000" sdval="6" sdnum="1033;" valign="bottom" height="20" align="center"><font face="Times New Roman" color="#000000">6</font></td>
                    <td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000" valign="bottom" align="center"><b><font face="Times New Roman" color="#000000">CU1011008</font></b></td>
                    <td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000" valign="bottom" align="center"><b><font face="Times New Roman" color="#000000">Norkazakov Bobomurod</font></b></td>
                    <td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000" valign="bottom" align="center"><b><font face="Times New Roman" color="#000000">AA7414535</font></b></td>
                    <td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000" valign="bottom" align="center"><font face="Times New Roman" color="#000000">9,25</font></td>
                    <td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000" valign="bottom" align="center"><font face="Times New Roman" color="#000000">85,80</font></td>
                </tr>
                <tr>
                    <td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000" sdval="7" sdnum="1033;" valign="bottom" height="20" align="center"><font face="Times New Roman" color="#000000">7</font></td>
                    <td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000" valign="bottom" align="center"><b><font face="Times New Roman" color="#000000">CU1011009</font></b></td>
                    <td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000" valign="bottom" align="center"><b><font face="Times New Roman" color="#000000">Norkazakov Bobomurod</font></b></td>
                    <td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000" valign="bottom" align="center"><b><font face="Times New Roman" color="#000000">AA7414535</font></b></td>
                    <td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000" valign="bottom" align="center"><font face="Times New Roman" color="#000000">9,25</font></td>
                    <td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000" valign="bottom" align="center"><font face="Times New Roman" color="#000000">85,80</font></td>
                </tr>
                <tr>
                    <td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000" colspan="4" valign="middle" height="20" align="center"><b><font face="Times New Roman" color="#000000">TOTAL/Итого</font></b></td>
                    <td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000" valign="middle" align="center"><b><font face="Times New Roman" color="#000000">263,05</font></b></td>
                    <td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000" valign="middle" align="center"><font face="Times New Roman" color="#000000">2263,84</font></td>
                </tr>
            </tbody>
        
        </table>
        <div>
        <p style="padding: 24px; margin: auto; color: black; font-family: 'Times New Roman', Times, serif;" >DESCRIPTIONS/ПРИМИЧЕНИЯ _________________________</p>
        </div>
      
      
      
        </div>
    </div>
</div>

