
<div id="print-section" >
    <div id="printingsnk" class="print-content"><div about="/en/node/35825" typeof="sioc:Item foaf:Document" class="ds-2col node node-buyurtma view-mode-print clearfix">
      <div class="group-left">
        <div class="field field-name-printingcn23 field-type-ds field-label-hidden"><div class="field-items"><div class="field-item even"><table cellspacing="0" border="0"><tbody><tr><td class="rtecenter" colspan="3"><span style="font-size:24px"><strong>91</strong></span></td>
    </tr><tr>

    <td colspan="3" rowspan="2"> <ngx-barcode  [bc-value]="barcodeVal" [bc-display-value]="true"></ngx-barcode></td>
                         
    <!-- <td colspan="3" rowspan="2"><img class="barcode" typeof="foaf:Image" src="https://www.texpress.uz/sites/default/files/barcodes/351dfe0eff61be32e875044002eb6047CODE128.png" alt="4309578063900" title="4309578063900"></td>
    -->
    </tr><tr></tr><tr><td colspan="3" rowspan="2">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; _________</td>
    </tr><tr></tr><tr><td><strong>3шт</strong></td>
    <td><strong>Qoziqorin</strong></td>
    <td><strong>___</strong></td>
    </tr></tbody></table><p>&nbsp;</p>
    </div></div></div>  </div>
    
      <div class="group-right">
          </div>
    
    </div>
    
    </div>
  </div>
