<div class="main-content">
      <div class="container-fluid">
        <div class="row">
          <div class="col-md-3 ml-auto">
            <div class="card-body">
                <a (click)="addExpense()" mat-raised-button class="btn btn-warning">Xarajat qo'shish   </a>
            </div>
  
        </div>
          <div class="col-md-12">
              <div class="card" id="listcard">
                <div class="card-header row card-header-warning card-header-icon" style="display: inline-flex;">
                  <div class="col align-self-start  ">
                    <div class="card-icon">
                      <i class="material-icons">assignment</i>
                    </div>
                    <h4 class="card-title">Xarajatlar ro'yhati</h4>
                  </div>
                </div>
                  <div class="card-body">
                      <div class="toolbar">
                          <!-- Here you can write extra buttons/actions for the toolbar              -->
                      </div>
                      <div class="material-datatables">   
                        <div class="row">
                         
                         
                          <div class="col-sm-6 col-lg-3">
                            <mat-form-field class="example-full-width">
                              <input matInput type="text" style="font-size: large;" placeholder="Mijoz IDsi bo'yicha. . ." (input)="getListOfRecsWithFilter($event.target.value,'')">  
                            </mat-form-field>
                           </div> <div class="col-sm-6 col-lg-3">
                            <mat-form-field class="example-full-width">
                              <input matInput type="text" style="font-size: large;" placeholder="Partiya bo'yicha" (input)="getListOfRecsWithFilter('',$event.target.value)">  
                            </mat-form-field>
                          <!-- </div>
                          <div class="col-sm-6 col-lg-3">
                            <mat-form-field class="example-full-width">
                              <input matInput type="text" style="font-size: large;" placeholder="Pasport raqami" (input)="getListOfRecsWithFilter('',$event.target.value,'','')">  
                            </mat-form-field>
                          </div>
            
                             <div class="col-sm-6 col-lg-3">
                              <div class="dropdown">
                                <button mat-raised-button href="#pablo" class="dropdown-toggle btn btn-primary btn-round btn-block" data-toggle="dropdown">Product Type
                                    <b class="caret"></b>
                                </button>
                                <ul class="dropdown-menu dropdown-menu-left">
                                    <li class="dropdown-header">Order Types</li>
                                    <li *ngFor="let rw of orderTypesList; let i = index">
                                        <a href="#pablo">{{rw.descriptionEn}}</a>
                                    </li>
                                </ul>
                            </div> 
                            
                        </div> -->
                          
                        </div>
                        <div class="table-responsive">
                        <ul class="pagination" *ngIf="needPagination" >
                          <!--  <li class="page-item">
                              <a mat-button class="page-link" aria-label="Previous">
                                <span aria-hidden="true"><i class="fa fa-angle-double-left" aria-hidden="true"></i></span>
                              </a>
                            </li> -->
                            <li class="page-item" [ngClass]="{'active': currentPage == i}" *ngFor="let page of mypages; index as i">
                              <a mat-button class="page-link" (click)="pagebyNum(i)" >{{i+1}}</a>
                            </li>
                           <!-- <li class="page-item">
                              <a mat-button class="page-link" aria-label="Next">
                                <span aria-hidden="true"><i class="fa fa-angle-double-right" aria-hidden="true"></i></span>
                              </a>
                            </li> -->
                          </ul>
                        <table  class="table table-striped table-no-bordered table-hover" cellspacing="0" width="100%" style="width:100%">
                              <thead>
                                  <tr>
                                    <th class="text-center">No</th>
                                    <th class="text-center">Partiya</th>
                                    <th class="text-center">Mijoz IDsi</th>
                                    <th class="text-center">Sana</th>
                                    <th class="text-center">Karta</th>
                                    <th class="text-center">Naqd</th>
                                    <th class="text-center">USD</th>
                                    <th class="text-center">Izoh</th>
                                    <th class="text-center">Amallar</th>
                                  </tr>
                              </thead>
                              <tbody> 
                                  <tr *ngFor="let row of allExpenses; let i = index" class="text-center table-danger" [ngClass]="{'table-danger': row.statusQuarter == 2,'table-warning': row.statusQuarter == 1}"> 
                                      <td>{{row.id}}</td>
                                      <td>{{row.consignment}}</td>
                                      <td>{{row.customerID}}</td>
                                      <td>{{row.addedDate | slice:3:16}}</td>
                                      <td>{{row.sumPlastic}} </td>
                                      <td>{{row.sumUzs}} </td>
                                      <td>{{row.sumUsd}} </td>
                                      <td>{{row.comment}}</td>          
                                      <td>
                                       <!-- <button mat-raised-button class="btn btn-link btn-info btn-just-icon visibility" data-toggle="modal" data-target="#myModal" ><i class="material-icons" (click)="getInfoOfParcel(row.trackingNumber)">visibility</i></button> -->
                                       <!-- <a href="javascript:void(0" class="btn btn-link btn-primary btn-just-icon edit"><i (click)="editParcel(row.trackingNumber,row.foreignName,row.quantity,row.orderType)" class="material-icons">edit</i></a> -->
                                        <a  (click)="editExpense(row.id,row.customerID, row.sumPlastic, row.sumUzs, row.sumUsd,row.consignment ,row.comment)"  class="btn btn-link btn-success btn-just-icon "><i  class="material-icons">edit</i></a>
                                        <a  (click)="deletetExpense(row.id)"  class="btn btn-link btn-danger btn-just-icon "><i  class="material-icons">clear</i></a>
                
                                      </td>
                                  </tr>
                              </tbody>
                          </table>
                          <ul class="pagination" *ngIf="needPagination" >
                            <!--  <li class="page-item">
                                <a mat-button class="page-link" aria-label="Previous">
                                  <span aria-hidden="true"><i class="fa fa-angle-double-left" aria-hidden="true"></i></span>
                                </a>
                              </li> -->
                              <li class="page-item" [ngClass]="{'active': currentPage == i}" *ngFor="let page of mypages; index as i">
                                <a mat-button class="page-link" (click)="pagebyNum(i)" >{{i+1}}</a>
                              </li>
                             <!-- <li class="page-item">
                                <a mat-button class="page-link" aria-label="Next">
                                  <span aria-hidden="true"><i class="fa fa-angle-double-right" aria-hidden="true"></i></span>
                                </a>
                              </li> -->
                            </ul>
                          </div>
                      </div>
                  </div>
                  <!-- end content-->
              </div>
              <!--  end card  -->
          </div>
          <!-- end col-md-12 -->
        </div>
     
  
      </div>
  </div>
  
  
  