<footer class="footer ">
  <div class="container-fluid">
    <!-- <nav class="pull-left">
      <ul>
        <li>
          <a href="https://www.acargo.uz" target="_blank">
            Asosiy sayt
          </a>
        </li>
        <li>
          <a href="https://www.acargo.uz" target="_blank">
            Biz haqimizda
          </a>
        </li>
        <li>
          <a href="https://www.acargo.uz" target="_blank">
            Blog
          </a>
        </li>
        <li>
          <a href="https://www.acargo.uz" target="_blank">
            Licenses
          </a>
        </li>
      </ul> 
    </nav>-->
    <div class="copyright pull-right">
      &copy;
      {{test | date: 'yyyy'}}, made with <i class="material-icons">favorite</i> by
      <a href="http://www.yumasoft.uz" target="_blank">YUMA SOFT</a> for a better future.
    </div>
  </div>
</footer>
